html{overflow: hidden;}
body{
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
 
    flex-direction: column;
}
.if{
    
    height: 100vh;
    width: max-content;
    
    z-index: 6;
    margin-top: 2vh;
}

#box{
    display: flex;
    justify-content: baseline;
}



.ab{
    color: white;
    font-family: 'Lora', serif;
    border: 1px solid white;
    font-size: small;
    width: max-content;
    height: max-content;
    background-color: transparent;
    transition: 0.2s;
    padding: 10px;
    vertical-align: middle;
    text-align: center;

}

a{text-decoration: none;}

.ab:hover{
    transition: 0.2s;
    background-color: #ffffff;
    color: #b60000;
    font-family: 'Lora', serif;
    border: 1px solid white;
    font-size: small;
    width: max-content;
    height: max-content;
    vertical-align: middle;
    padding: 15px;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    font-size: 5vw;
    max-height: 30%;
    overflow: auto;
    }

@media screen and (max-width: 700px){
.box{
    width: 70%;
}
.popup{
    width: 70%;
}
}

#map{
    
}